.container {
	position: relative; // Устанавливаем относительное позиционирование для контейнера

	.loader {
		width: 250px; // Ширина загрузчика
		height: 250px; // Высота загрузчика
		border-radius: 50%; // Закругленные углы для создания круга
		border: 15px dashed #dc3d3d; // Пунктирная граница загрузчика
		animation: rotate 4s infinite linear; // Анимация вращения загрузчика
		position: relative; // Относительное позиционирование для вложенных элементов

		&__text {
			position: absolute; // Абсолютное позиционирование для текста
			top: calc(50% - 12px); // Расположение по вертикали по центру
			width: 100%; // Ширина текста 100%
			text-align: center; // Центрирование текста
			font-size: 24px; // Размер шрифта текста

			&::after {
				content: ''; // Изначально пустой контент
				animation: load 0.5s infinite linear; // Анимация загрузки
			}
		}
	}
}

// Анимация вращения
@keyframes rotate {
	from {
		transform: rotate(0deg) scale(1); // Начальное состояние
	}
	to {
		transform: rotate(360deg) scale(1.4); // Конечное состояние
	}
}

// Анимация загрузки текста
@keyframes load {
	0% {
		content: ''; // Пустое состояние
	}
	33% {
		content: '.'; // Один точка
	}
	66% {
		content: '..'; // Две точки
	}
	99% {
		content: '...'; // Три точки
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.container {
		.loader {
			width: 150px; // Уменьшаем ширину загрузчика
			height: 150px; // Уменьшаем высоту загрузчика
			border: 7px dashed #dc3d3d; // Уменьшаем ширину границы загрузчика
		}

		.loader__text {
			top: calc(50% - 11px); // Корректируем положение текста
			font-size: 18px; // Уменьшаем размер шрифта текста
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.container {
		.loader {
			width: 100px; // Уменьшаем ширину загрузчика
			height: 100px; // Уменьшаем высоту загрузчика
			border: 5px dashed #dc3d3d; // Уменьшаем ширину границы загрузчика
		}

		.loader__text {
			top: calc(50% - 10px); // Корректируем положение текста
			font-size: 14px; // Уменьшаем размер шрифта текста
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.container {
		.loader {
			width: 80px; // Уменьшаем ширину загрузчика
			height: 80px; // Уменьшаем высоту загрузчика
			border: 5px dashed #dc3d3d; // Уменьшаем ширину границы загрузчика
		}

		.loader__text {
			top: calc(50% - 9px); // Корректируем положение текста
			font-size: 12px; // Уменьшаем размер шрифта текста
		}
	}
}
