/* Основной контейнер */
.container {
	width: 1280px; /* Устанавливаем ширину контейнера */
	margin: 0 auto; /* Центрируем контейнер */
	padding: 0; /* Убираем отступы */
	flex: 1 0 auto; /* Flex-параметры для авторастягивания */
}

/* Блок контактов */
.contact {
	margin: 20px 0; /* Отступы сверху и снизу */

	/* Заголовок блока контактов */
	&__title {
		margin-bottom: 20px; /* Отступ снизу */
	}

	/* Сетка для элементов контактов */
	&__grid {
		display: grid; /* Используем grid-раскладку */
		grid-template-columns: 2fr 2fr 1fr; /* Три колонки: две равных и одна меньшая */
		row-gap: 35px; /* Отступ между строками */
		column-gap: 150px; /* Отступ между колонками */
	}

	/* Элемент контактов */
	&__item {
		/* Заголовок элемента контактов */
		&__title {
			font-size: 24px; /* Размер шрифта */
			font-weight: 600; /* Толщина шрифта */
		}

		/* Текст элемента контактов */
		&__text {
			text-align: justify; /* Выравнивание текста по ширине */

			p {
				margin: 5px 0; /* Отступы сверху и снизу */
			}

			span {
				display: block; /* Блочный элемент */
				font-weight: 600; /* Толщина шрифта */
				margin: 25px 0 5px; /* Отступы сверху, снизу и справа */
			}
		}

		/* Ссылки элемента контактов */
		&__link,
		&__link:visited {
			display: inline-block; /* Инлайн-блок */
			cursor: pointer; /* Курсор в виде указателя */
			font-weight: normal; /* Нормальная толщина шрифта */
			color: #dc3d3d; /* Цвет текста */
			text-decoration: underline; /* Подчеркивание текста */

			&:hover {
				text-decoration: none; /* Убираем подчеркивание при наведении */
				filter: brightness(75%); /* Затемняем текст при наведении */
			}
		}

		/* Адрес элемента контактов */
		&__address {
			p {
				margin: 0; /* Убираем отступы */
			}
		}

		/* Ссылки на социальные сети элемента контактов */
		&__link_media {
			display: flex; /* Flexbox для элемента */
			align-items: center; /* Выравнивание по центру */
			font-size: 20px; /* Размер шрифта */
			color: #dc3d3d; /* Цвет текста */
			text-decoration: none; /* Убираем подчеркивание текста */
			margin-bottom: 10px; /* Отступ снизу */
			transition: all 0.3s ease; /* Переход для всех изменений */
			cursor: pointer; /* Курсор в виде указателя */

			&:hover {
				transform: scale(1.02); /* Масштабируем элемент при наведении */
				filter: brightness(75%); /* Затемняем текст при наведении */
			}
			&:first-child {
				margin-top: 20px; /* Отступ сверху для первого элемента */
			}

			p {
				display: inline-block; /* Инлайн-блок */
				margin: 0 0 0 10px; /* Отступы справа */
			}
		}
	}

	/* Блок с картой */
	&__map {
		margin: 30px 0; /* Отступы сверху и снизу */
		outline: 1px solid black; /* Контур вокруг карты */

		&__item {
			width: 100%; /* Ширина элемента */
			height: 300px; /* Высота элемента */
		}
	}
}

/* Медиазапросы для адаптивности */

/* Ширина экрана до 1400px */
@media (max-width: 1400px) {
	.container {
		max-width: 1140px; /* Максимальная ширина контейнера */
	}
}

/* Ширина экрана до 1200px */
@media (max-width: 1200px) {
	.container {
		max-width: 960px; /* Максимальная ширина контейнера */
	}

	.contact {
		margin: 15px 0; /* Уменьшаем отступы сверху и снизу */

		&__grid {
			column-gap: 50px; /* Уменьшаем отступ между колонками */
		}

		&__title {
			font-size: 30px; /* Увеличиваем размер шрифта */
			margin-bottom: 10px; /* Уменьшаем отступ снизу */
		}

		&__item {
			&__title {
				font-size: 20px; /* Уменьшаем размер шрифта */
			}

			&__text {
				span {
					font-size: 14px; /* Уменьшаем размер шрифта */
					margin: 15px 0 5px; /* Уменьшаем отступы сверху и снизу */
				}

				p {
					font-size: 12px; /* Уменьшаем размер шрифта */
				}
			}
		}

		&__map {
			margin: 20px 0; /* Уменьшаем отступы сверху и снизу */
		}
	}
}

/* Ширина экрана до 992px */
@media (max-width: 992px) {
	.container {
		max-width: 720px; /* Максимальная ширина контейнера */
	}
}

/* Ширина экрана до 768px */
@media (max-width: 768px) {
	.container {
		max-width: 540px; /* Максимальная ширина контейнера */
	}
}

/* Ширина экрана до 576px */
@media (max-width: 576px) {
	.container {
		max-width: 390px; /* Максимальная ширина контейнера */
	}

	.contact {
		&__grid {
			grid-template-columns: 1fr 1fr; /* Две колонки */
			grid-template-areas: /* Определяем области сетки */
				'a a'
				'b c';
			row-gap: 5px; /* Отступ между строками */
		}

		&__item {
			&:nth-child(1) {
				grid-area: a; /* Первая область */
			}
			&:nth-child(2) {
				grid-area: b; /* Вторая область */
			}
			&:nth-child(3) {
				grid-area: c; /* Третья область */
			}

			&__text {
				span {
					margin: 5px 0 5px; /* Уменьшаем отступы сверху и снизу */
				}
			}

			&__link-media:first-child {
				margin-top: 10px; /* Уменьшаем отступ сверху для первого элемента */
			}
		}

		&__title {
			font-size: 24px; /* Уменьшаем размер шрифта */
		}
	}
}

/* Ширина экрана до 420px */
@media (max-width: 420px) {
	.container {
		max-width: 360px; /* Максимальная ширина контейнера */
	}
}
