.category {
	display: inline-block; // Устанавливаем элемент как строчно-блочный
	background: #eeeeee; // Устанавливаем серый фон
	border-radius: 50px; // Закругляем углы
	padding: 10px 20px; // Внутренние отступы
	margin-bottom: 25px; // Нижний внешний отступ
	margin-right: 15px; // Правый внешний отступ
	cursor: pointer; // Курсор в виде указателя при наведении
	transition: all 0.3s ease; // Плавный переход для всех свойств

	&:hover {
		background: #cecece; // Изменяем фон при наведении
	}
	&.active {
		background: #cecece; // Изменяем фон для активного состояния
		border-color: #000; // Изменяем цвет границы для активного состояния
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.category {
		font-size: 10px; // Уменьшаем размер шрифта
		padding: 10px 15px; // Уменьшаем внутренние отступы
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.category {
		font-size: 10px; // Уменьшаем размер шрифта
		padding: 10px 11px; // Уменьшаем внутренние отступы
		margin-right: 5px; // Уменьшаем правый внешний отступ
		margin-bottom: 15px; // Уменьшаем нижний внешний отступ
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.categories {
		display: flex; // Используем flexbox для контейнера категорий
		justify-content: flex-start; // Выравниваем элементы по началу
		flex-wrap: wrap; // Разрешаем перенос элементов на новую строку
		margin: 0 0 10px; // Отступы сверху и снизу для контейнера категорий
	}

	.category {
		font-size: 12px; // Увеличиваем размер шрифта
		margin: 5px 10px; // Внешние отступы
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.category {
		font-size: 10px; // Уменьшаем размер шрифта
		padding: 6px 8px; // Уменьшаем внутренние отступы
		margin: 2px 5px; // Уменьшаем внешние отступы
		border-radius: 12px; // Уменьшаем радиус закругления углов
	}
}
