.profile__label {
	font-size: 16px; // Размер шрифта для метки профиля

	&.error {
		color: #dc3d3d; // Красный цвет для метки с ошибкой
		font-weight: 600; // Полужирный шрифт для метки с ошибкой
	}
}

.profile__input {
	width: 100%; // Ширина поля ввода 100%
	height: 40px; // Высота поля ввода 40px
	overflow: hidden; // Скрываем переполняющее содержимое
	text-overflow: ellipsis; // Добавление многоточия при переполнении
	white-space: nowrap; // Запрещаем перенос строк
	background-color: #333; // Фон поля ввода темно-серый
	color: #fff; // Белый цвет текста
	padding: 5px 10px; // Внутренние отступы
	margin-bottom: 10px; // Нижний отступ

	&.active {
		outline: 3px solid #dc3d3d; // Красная обводка при активности
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.profile__label {
		font-size: 12px; // Уменьшаем размер шрифта для метки профиля
	}

	.profile__input {
		font-size: 14px; // Уменьшаем размер шрифта для поля ввода
	}
}

