.count {
	display: flex; // Flexbox для контейнера
	justify-content: space-between; // Распределение элементов по краям
	align-items: center; // Вертикальное выравнивание элементов
	position: absolute; // Абсолютное позиционирование
	bottom: 0; // Позиционирование снизу
	right: 0; // Позиционирование справа
	width: 35%; // Ширина контейнера
	border-radius: 15px; // Закругленные углы
	background: #eeeeee; // Серый фон
	padding: 0px 20px; // Внутренние отступы по горизонтали
	user-select: none; // Запрещаем выделение текста

	p {
		font-size: 24px; // Размер шрифта
		font-weight: 600; // Толщина шрифта
		margin-bottom: 0; // Убираем нижний отступ
	}
}

.btn_count {
	color: #000; // Черный цвет текста
	transition: all 0.3s ease; // Плавный переход для всех свойств
	cursor: pointer; // Указатель при наведении

	&:hover {
		color: #dc3d3d; // Красный цвет текста при наведении
	}
}

// Медиазапрос для экранов с максимальной шириной 1200px
@media (max-width: 1200px) {
	.count {
		width: 110px; // Уменьшаем ширину контейнера
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.count {
		width: 100px; // Уменьшаем ширину контейнера
		padding: 0px 15px; // Уменьшаем горизонтальные отступы

		p {
			font-size: 20px; // Уменьшаем размер шрифта
		}
	}
}
