/* Контейнер, обеспечивающий фиксированную ширину и центрирование */
.container {
	width: 1280px; /* Фиксированная ширина */
	margin: 0 auto; /* Центрирование по горизонтали */
	padding: 0; /* Убираем внутренние отступы */
	flex: 1 0 auto; /* Разрешаем контейнеру расти, чтобы заполнить оставшееся пространство */
}

/* Стили для заголовка профиля */
.profile {
	&__title {
		margin: 30px 0; /* Отступы сверху и снизу */
		font-size: 40px; /* Размер шрифта */
	}
}

/* Адаптивные стили для экранов шириной до 1400px */
@media (max-width: 1400px) {
	.container {
		max-width: 1140px; /* Устанавливаем максимальную ширину контейнера */
	}
}

/* Адаптивные стили для экранов шириной до 1200px */
@media (max-width: 1200px) {
	.container {
		max-width: 960px; /* Устанавливаем максимальную ширину контейнера */
	}

	.profile {
		&__title {
			margin: 20px 0; /* Уменьшаем отступы сверху и снизу */
			font-size: 30px; /* Уменьшаем размер шрифта */
		}
	}
}

/* Адаптивные стили для экранов шириной до 992px */
@media (max-width: 992px) {
	.container {
		max-width: 720px; /* Устанавливаем максимальную ширину контейнера */
	}
}

/* Адаптивные стили для экранов шириной до 768px */
@media (max-width: 768px) {
	.container {
		max-width: 540px; /* Устанавливаем максимальную ширину контейнера */
	}

	.profile {
		&__title {
			margin: 15px 0; /* Уменьшаем отступы сверху и снизу */
			font-size: 20px; /* Уменьшаем размер шрифта */
		}
	}
}

/* Адаптивные стили для экранов шириной до 576px */
@media (max-width: 576px) {
	.container {
		max-width: 390px; /* Устанавливаем максимальную ширину контейнера */
	}
}

/* Адаптивные стили для экранов шириной до 420px */
@media (max-width: 420px) {
	.container {
		max-width: 360px; /* Устанавливаем максимальную ширину контейнера */
	}
}
