.item {
	width: 100%; // Ширина элемента 100%
	background: #fff; // Белый фон
	padding: 25px; // Внутренние отступы
	display: flex; // Flexbox для элемента
	justify-content: space-between; // Распределение пространства между элементами
	border-bottom: 1px solid #eeeeee; // Нижняя граница

	&:first-child {
		border-top: 1px solid #eeeeee; // Верхняя граница для первого элемента
		margin-top: 90px; // Верхний внешний отступ
	}
	&:last-child {
		margin-bottom: 90px; // Нижний внешний отступ для последнего элемента
	}

	&_enter {
		opacity: 0; // Начальная непрозрачность для анимации входа
		transform: scale(0.9); // Начальное масштабирование для анимации входа
	}

	&_enter_active {
		opacity: 1; // Конечная непрозрачность для анимации входа
		transform: translateX(0); // Конечное состояние трансформации
		transition: opacity 300ms, transform 300ms; // Переход для плавного изменения непрозрачности и трансформации
	}

	&_exit_active {
		opacity: 1; // Начальная непрозрачность для анимации выхода
	}

	&_exit {
		opacity: 0; // Конечная непрозрачность для анимации выхода
		transform: scale(0.9); // Конечное масштабирование для анимации выхода
		transition: opacity 300ms, transform 300ms; // Переход для плавного изменения непрозрачности и трансформации
	}
}

.img {
	width: 150px; // Ширина изображения
	margin-right: 20px; // Правый отступ
	cursor: pointer; // Курсор в виде указателя при наведении
	transition: all 0.3s ease; // Плавный переход для всех свойств
	border: 1px solid #eeeeee; // Граница изображения

	&:hover {
		transform: scale(1.02); // Масштабирование при наведении
	}
}

.body {
	width: 100%; // Ширина 100%
	position: relative; // Относительное позиционирование
	top: -5px; // Смещение сверху
}

.title {
	font-size: 25px; // Размер шрифта
	font-weight: 600; // Толщина шрифта
	margin-bottom: 10px; // Нижний отступ
	width: 320px; // Ширина элемента
	overflow: hidden; // Скрытие переполняющего содержимого
	text-overflow: ellipsis; // Добавление многоточия при переполнении
	white-space: nowrap; // Запрещаем перенос строк
	cursor: pointer; // Курсор в виде указателя при наведении

	&:hover {
		text-decoration: underline; // Подчеркивание текста при наведении
	}
}

.author {
	color: #222; // Цвет текста
}

.price {
	position: absolute; // Абсолютное позиционирование
	bottom: 0; // Позиционирование снизу
	font-size: 24px; // Размер шрифта
	font-weight: 600; // Толщина шрифта
	margin-bottom: 0; // Убираем нижний отступ
}

.btn_delete {
	position: absolute; // Абсолютное позиционирование
	top: -5px; // Позиционирование сверху
	right: -5px; // Позиционирование справа
	width: 20px; // Ширина кнопки
	height: 20px; // Высота кнопки
	transition: color 0.3s ease; // Плавный переход для цвета
	cursor: pointer; // Курсор в виде указателя при наведении

	&:hover {
		color: #dc3d3d; // Цвет текста при наведении
	}
}

// Медиазапрос для экранов с максимальной шириной 1400px
@media (max-width: 1400px) {
	.title {
		width: 270px; // Уменьшение ширины заголовка
	}
}

// Медиазапрос для экранов с максимальной шириной 1200px
@media (max-width: 1200px) {
	.title {
		width: 220px; // Уменьшение ширины заголовка
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.item {
		padding: 15px; // Уменьшение внутренних отступов

		&:first-child {
			margin-top: 90px; // Верхний внешний отступ для первого элемента
		}

		&:last-child {
			margin-bottom: 90px; // Нижний внешний отступ для последнего элемента
		}
	}

	.title {
		width: 210px; // Уменьшение ширины заголовка
		font-size: 20px; // Уменьшение размера шрифта заголовка
		margin-bottom: 5px; // Уменьшение нижнего отступа
	}

	.author {
		width: 210px; // Уменьшение ширины автора
		font-size: 14px; // Уменьшение размера шрифта автора
		margin-bottom: 5px; // Уменьшение нижнего отступа
	}

	.price {
		font-size: 20px; // Уменьшение размера шрифта цены
	}

	.img {
		width: 100px; // Уменьшение ширины изображения
	}

	.btn_delete {
		width: 15px; // Уменьшение ширины кнопки
		top: 0px; // Позиционирование сверху
		right: 0px; // Позиционирование справа
	}
}
