.accordion {
	// Стили для заголовка аккордеона
	.header {
		display: flex; // Устанавливаем flexbox для выравнивания содержимого
		justify-content: space-between; // Распределяем элементы по краям
		align-items: center; // Выравниваем элементы по центру вертикально
		cursor: pointer; // Изменяем курсор при наведении
		background-color: #fff; // Устанавливаем белый фон
		padding: 10px 20px; // Отступы внутри заголовка

		&.active {
			// Стили для активного состояния заголовка
			.arrow {
				transform: rotate(135deg); // Поворачиваем стрелку на 135 градусов
			}
		}
	}

	// Стили для содержимого аккордеона
	.content {
		height: 0; // Начальная высота равна нулю
		overflow: hidden; // Скрываем переполняющее содержимое
		border-top: 3px solid #eee; // Верхняя граница содержимого
		margin-bottom: 0; // Нижний отступ равен нулю
		transition: height 0.3s ease, border 0s ease 0.3s; // Переход для высоты и границы

		&.active {
			// Стили для активного состояния содержимого
			height: 100%; // Устанавливаем высоту на 100%
			border: none; // Убираем верхнюю границу
			margin-bottom: 10px; // Устанавливаем нижний отступ
		}
	}

	// Стили для стрелки в заголовке
	.arrow {
		width: 10px; // Ширина стрелки
		height: 10px; // Высота стрелки
		border-top: 2px solid black; // Верхняя граница стрелки
		border-right: 2px solid black; // Правая граница стрелки
		transform: rotate(-45deg); // Начальное вращение стрелки
		transition: transform 0.3s ease-in-out; // Переход для вращения стрелки
	}
}
