.container {
	width: 1280px; /* Ширина контейнера */
	margin: 0 auto; /* Центрирование контейнера по горизонтали */
	padding: 0; /* Убираем внутренние отступы */
	flex: 1 0 auto; /* Расширяем контейнер, чтобы он занимал доступное пространство */
}

.empty {
	display: flex; /* Используем Flexbox для центрирования содержимого */
	justify-content: center; /* Центрирование содержимого по горизонтали */
	align-items: center; /* Центрирование содержимого по вертикали */
	flex-direction: column; /* Располагаем элементы вертикально */
	text-align: center; /* Центрирование текста */
	height: 550px; /* Высота блока */

	&__title {
		font-size: 56px; /* Размер шрифта заголовка */
		font-weight: 600; /* Толщина шрифта */
		margin-bottom: 0; /* Убираем нижний отступ */
	}

	&__error {
		font-size: 32px; /* Размер шрифта сообщения об ошибке */
		font-weight: 600; /* Толщина шрифта */
		color: #dc3d3d; /* Цвет текста */
	}
}

/* Медиа-запросы для различных экранов */

@media (max-width: 1400px) {
	.container {
		max-width: 1140px; /* Максимальная ширина контейнера */
	}

	.empty {
		height: 490px; /* Высота блока */
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px; /* Максимальная ширина контейнера */
	}

	.empty {
		height: 440px; /* Высота блока */
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px; /* Максимальная ширина контейнера */
	}

	.empty {
		height: 320px; /* Высота блока */

		&__title {
			width: 90%; /* Ширина заголовка */
			font-size: 32px; /* Размер шрифта заголовка */
		}

		&__error {
			width: 90%; /* Ширина сообщения об ошибке */
			font-size: 22px; /* Размер шрифта сообщения об ошибке */
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px; /* Максимальная ширина контейнера */
	}

	.empty {
		height: 260px; /* Высота блока */

		&__title {
			font-size: 24px; /* Размер шрифта заголовка */
		}

		&__error {
			font-size: 18px; /* Размер шрифта сообщения об ошибке */
		}
	}
}

@media (max-width: 576px) {
	.container {
		max-width: 390px; /* Максимальная ширина контейнера */
	}

	.empty {
		&__title {
			font-size: 16px; /* Размер шрифта заголовка */
		}

		&__error {
			font-size: 10px; /* Размер шрифта сообщения об ошибке */
		}
	}
}

@media (max-width: 420px) {
	.container {
		max-width: 360px; /* Максимальная ширина контейнера */
	}
}
