.list {
	display: grid; // Используем CSS Grid для отображения списка
	grid-template-columns: repeat(3, 400px); // Задаем три колонки шириной 400px каждая
	grid-gap: 40px 40px; // Задаем отступы между колонками и строками
	width: 100%; // Ширина списка 100%
}

.empty {
	display: flex; // Используем Flexbox для выравнивания пустого состояния
	justify-content: center; // Горизонтальное выравнивание по центру
	align-items: center; // Вертикальное выравнивание по центру
	flex-direction: column; // Размещаем элементы в колонку
	text-align: center; // Выравнивание текста по центру
	height: 550px; // Высота пустого состояния

	&__title {
		font-size: 56px; // Размер шрифта заголовка
		font-weight: 600; // Толщина шрифта заголовка
		margin-bottom: 0; // Убираем нижний отступ заголовка
	}

	&__subtitle {
		font-size: 32px; // Размер шрифта подзаголовка
		font-weight: 600; // Толщина шрифта подзаголовка
	}
}

// Медиазапрос для экранов с максимальной шириной 1400px
@media (max-width: 1400px) {
	.list {
		grid-template-columns: repeat(3, 360px); // Задаем три колонки шириной 360px каждая
		grid-gap: 30px 30px; // Задаем отступы между колонками и строками 30px
	}

	.empty {
		height: 490px; // Уменьшаем высоту пустого состояния
	}
}

// Медиазапрос для экранов с максимальной шириной 1200px
@media (max-width: 1200px) {
	.list {
		grid-template-columns: repeat(3, 310px); // Задаем три колонки шириной 310px каждая
		grid-gap: 15px 15px; // Задаем отступы между колонками и строками 15px
	}

	.empty {
		height: 440px; // Уменьшаем высоту пустого состояния
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.list {
		grid-template-columns: repeat(3, 230px); // Задаем три колонки шириной 230px каждая
	}

	.empty {
		height: 320px; // Уменьшаем высоту пустого состояния

		&__title {
			width: 90%; // Ширина заголовка 90%
			font-size: 32px; // Уменьшаем размер шрифта заголовка
		}

		&__subtitle {
			width: 90%; // Ширина подзаголовка 90%
			font-size: 22px; // Уменьшаем размер шрифта подзаголовка
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.list {
		grid-template-columns: repeat(3, 170px); // Задаем три колонки шириной 170px каждая
	}

	.empty {
		height: 260px; // Уменьшаем высоту пустого состояния

		&__title {
			font-size: 24px; // Уменьшаем размер шрифта заголовка
		}

		&__subtitle {
			font-size: 18px; // Уменьшаем размер шрифта подзаголовка
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.list {
		grid-template-columns: repeat(2, 190px); // Задаем две колонки шириной 190px каждая
		grid-gap: 15px 10px; // Задаем отступы между колонками 15px и строками 10px
	}

	.empty {
		&__title {
			font-size: 16px; // Уменьшаем размер шрифта заголовка
		}

		&__subtitle {
			font-size: 10px; // Уменьшаем размер шрифта подзаголовка
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.list {
		grid-template-columns: repeat(2, 175px); // Задаем две колонки шириной 175px каждая
	}
}
