.footer {
	background: #eeeeee; // Устанавливаем серый фон для подвала
	height: 70px; // Высота подвала
	font-weight: 600; // Толщина шрифта
	display: flex; // Используем flexbox для контейнера подвала
	justify-content: center; // Горизонтальное центрирование содержимого
	align-items: center; // Вертикальное центрирование содержимого
	flex-shrink: 0; // Запрещаем сжатие подвала при переполнении
	margin-top: 50px; // Верхний отступ

	a,
	a:visited {
		color: #dc3d3d; // Цвет ссылок и посещенных ссылок

		&:hover {
			filter: brightness(75%); // Изменение яркости при наведении
		}
	}

	p {
		margin-bottom: 0; // Убираем нижний отступ для параграфов
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.footer {
		height: 6vh; // Высота подвала 6% от высоты экрана
		margin-top: 30px; // Верхний отступ

		p {
			margin: 0; // Убираем все отступы для параграфов
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.footer {
		margin-top: 30px; // Верхний отступ
		height: 5vh; // Высота подвала 5% от высоты экрана

		p {
			margin: 0 !important; // Убираем все отступы для параграфов с !important
			font-size: 14px; // Уменьшаем размер шрифта
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.footer {
		margin-top: 20px; // Верхний отступ

		p {
			margin: 0 !important; // Убираем все отступы для параграфов с !important
			font-size: 14px; // Уменьшаем размер шрифта
		}
	}
}
