.item {
	overflow: hidden; // Скрываем переполняющее содержимое
	background-color: #fff; // Белый фон
	transition: transform 0.3s ease; // Плавный переход для трансформации

	&:hover {
		transform: scale(1.02); // Масштабирование при наведении
	}

	&_enter {
		opacity: 0; // Начальная непрозрачность для анимации входа
		transform: scale(0.9); // Начальное масштабирование для анимации входа
	}

	&_enter_active {
		opacity: 1; // Конечная непрозрачность для анимации входа
		transform: translateX(0); // Конечное состояние трансформации для анимации входа
		transition: opacity 300ms, transform 300ms; // Переход для плавного изменения непрозрачности и трансформации
	}

	&_exit_active {
		opacity: 1; // Начальная непрозрачность для анимации выхода
	}

	&_exit {
		opacity: 0; // Конечная непрозрачность для анимации выхода
		transform: scale(0.9); // Конечное масштабирование для анимации выхода
		transition: opacity 300ms, transform 300ms; // Переход для плавного изменения непрозрачности и трансформации
	}
}

.img {
	width: 100%; // Ширина изображения 100%
	cursor: pointer; // Указатель при наведении
	border-bottom: 1px solid #eeeeee; // Нижняя граница изображения
}

.content {
	padding: 5px; // Внутренние отступы для содержимого
}

.title {
	font-size: 18px; // Размер шрифта заголовка
	margin-bottom: 0; // Убираем нижний отступ
	cursor: pointer; // Указатель при наведении
	overflow: hidden; // Скрываем переполняющее содержимое
	text-overflow: ellipsis; // Добавление многоточия при переполнении
	white-space: nowrap; // Запрещаем перенос строк
	line-height: 20px; // Высота строки
}

.author {
	margin-bottom: 0; // Убираем нижний отступ
	font-size: 14px; // Размер шрифта автора
	overflow: hidden; // Скрываем переполняющее содержимое
	text-overflow: ellipsis; // Добавление многоточия при переполнении
	white-space: nowrap; // Запрещаем перенос строк
}

.price {
	font-size: 16px; // Размер шрифта цены
	font-weight: 600; // Толщина шрифта цены
	display: flex; // Flexbox для контейнера цены
	justify-content: space-between; // Распределение пространства между элементами
	align-items: center; // Вертикальное выравнивание элементов

	p {
		margin-bottom: 0; // Убираем нижний отступ абзаца
	}
}

.btn_list {
	display: flex; // Flexbox для списка кнопок
	justify-content: center; // Центрирование содержимого по горизонтали
}

.btn_like,
.btn_cart {
	width: 20px; // Ширина кнопки
	height: 20px; // Высота кнопки
	margin-left: 15px; // Левый отступ кнопки
	color: #333; // Цвет кнопки
	cursor: pointer; // Указатель при наведении
	transition: all 0.3s ease; // Плавный переход для всех свойств

	&:hover,
	&.active {
		transform: scale(1.1); // Масштабирование при наведении или когда кнопка активна
		color: #dc3d3d; // Цвет кнопки при наведении или когда кнопка активна
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.title {
		font-size: 14px; // Уменьшаем размер шрифта заголовка
	}

	.author {
		font-size: 12px; // Уменьшаем размер шрифта автора
	}

	.price {
		p {
			font-size: 13px; // Уменьшаем размер шрифта цены
		}
	}

	.btn_like,
	.btn_cart {
		width: 17px; // Уменьшаем ширину кнопки
		height: 17px; // Уменьшаем высоту кнопки
	}
}
