.modal {
	position: fixed; // Фиксированное положение относительно окна браузера
	top: 0; // Положение сверху
	left: 0; // Положение слева
	right: 0; // Положение справа
	bottom: 0; // Положение снизу
	background: rgba(0, 0, 0, 0.8); // Полупрозрачный черный фон
	z-index: 9999; // Высокий z-index для отображения поверх других элементов
	overflow: auto; // Прокрутка содержимого при переполнении
	display: flex; // Flexbox для центрирования содержимого
	justify-content: center; // Горизонтальное центрирование
	align-items: center; // Вертикальное центрирование

	&_enter {
		opacity: 0; // Начальная непрозрачность для анимации входа
	}

	&_enter_active {
		opacity: 1; // Конечная непрозрачность для анимации входа
		transition: opacity 500ms ease-in-out; // Переход для плавного изменения непрозрачности
	}

	&_exit_active {
		opacity: 1; // Начальная непрозрачность для анимации выхода
	}

	&_exit {
		opacity: 0; // Конечная непрозрачность для анимации выхода
		transition: opacity 500ms ease-in-out; // Переход для плавного изменения непрозрачности
	}

	.content {
		width: 400px; // Ширина содержимого модального окна
		height: 450px; // Высота содержимого модального окна
		position: relative; // Относительное позиционирование для внутренних элементов
		padding: 40px 30px; // Внутренние отступы
		background: #fff; // Белый фон содержимого
		border-radius: 10px; // Закругленные углы
	}

	.header {
		display: flex; // Flexbox для заголовка
		justify-content: center; // Горизонтальное центрирование
		align-items: center; // Вертикальное центрирование
		width: 100%; // Ширина заголовка 100%
		height: 25%; // Высота заголовка 25%

		.smile {
			width: 100px; // Ширина элемента smile
			height: 100px; // Высота элемента smile
			color: #42f5aa; // Цвет элемента smile
		}
	}

	.body {
		display: flex; // Flexbox для тела модального окна
		flex-direction: column; // Колонкообразное расположение
		align-items: center; // Центрирование по горизонтали
		padding: 25px 0; // Внутренние отступы сверху и снизу

		.text {
			font-size: 20px; // Размер шрифта
			text-align: center; // Выравнивание текста по центру
		}
	}

	.footer {
		display: flex; // Flexbox для нижней части модального окна
		justify-content: center; // Горизонтальное центрирование

		.button {
			background-color: #42f5aa; // Цвет фона кнопки
			padding: 10px 30px; // Внутренние отступы
			border-radius: 15px; // Закругленные углы кнопки
			transition: all 0.3s ease; // Плавный переход для всех свойств

			&:hover {
				background-color: #3a8a80; // Цвет фона кнопки при наведении
			}
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.modal {
		.content {
			height: 400px; // Уменьшение высоты содержимого модального окна
			padding: 40px 25px; // Уменьшение внутренних отступов
		}

		.body {
			padding: 20px 0; // Уменьшение внутренних отступов сверху и снизу

			.text {
				font-size: 18px; // Уменьшение размера шрифта текста
			}
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.modal {
		.content {
			width: 100%; // Ширина содержимого модального окна 100% от родителя
			height: 100%; // Высота содержимого модального окна 100% от родителя
			border-radius: 0px; // Убираем закругленные углы
		}
	}
}
