.carousel {
	max-width: 1280px; // Максимальная ширина карусели
	width: 100%; // Ширина карусели 100% от родителя
	margin: 30px auto; // Верхний и нижний отступы по 30px, выравнивание по центру горизонтально
}

.img {
	height: 500px; // Высота изображений
	width: 100%; // Ширина изображений 100% от родителя
	object-fit: cover; // Изображение обрезается, сохраняя свои пропорции, заполняя весь контейнер
}

// Медиазапрос для экранов с максимальной шириной 1400px
@media (max-width: 1400px) {
	.carousel {
		max-width: 1140px; // Уменьшение максимальной ширины карусели
	}
}

// Медиазапрос для экранов с максимальной шириной 1200px
@media (max-width: 1200px) {
	.carousel {
		max-width: none; // Отмена максимальной ширины
		margin: 0px 0px 30px; // Верхний отступ 0, нижний отступ 30px
	}

	.img {
		height: 450px; // Уменьшение высоты изображений
		width: 100%;
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.img {
		height: 350px; // Уменьшение высоты изображений
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.carousel {
		margin-bottom: 20px; // Уменьшение нижнего отступа карусели
	}
}

// Медиазапрос для экранов с максимальной шириной 576px
@media (max-width: 576px) {
	.img {
		height: 250px; // Уменьшение высоты изображений
	}

	.caption {
		bottom: 20px; // Отступ снизу для подписи
		padding: 10px 0 0; // Отступы для подписи (сверху 10px, по бокам 0, снизу 0)

		h3 {
			font-size: 14px; // Размер шрифта заголовка в подписи
			margin: 0; // Отменяем отступы
		}

		p {
			font-size: 10px; // Размер шрифта параграфа в подписи
			margin: 0; // Отменяем отступы
		}
	}
}

// Медиазапрос для экранов с максимальной шириной 420px
@media (max-width: 420px) {
	.carousel {
		margin-bottom: 0px; // Убираем нижний отступ карусели

		a {
			visibility: hidden; // Скрываем ссылки
		}
	}

	.img {
		height: 200px; // Уменьшение высоты изображений
		margin: 0; // Убираем отступы
	}

	.item {
		margin-bottom: 15px; // Нижний отступ для элементов
	}
}
