.tabs {
	display: flex; // Flexbox для вкладок
}

.tabs__content {
	width: 75%; // Ширина содержимого вкладки
	height: 750px; // Высота содержимого вкладки
	background: #eee; // Светло-серый фон
	border: 3px solid #eee; // Граница содержимого вкладки
	margin-right: 25px; // Правый отступ
	padding: 15px; // Внутренние отступы
	overflow-y: auto; // Автоматическая прокрутка по вертикали
	overflow-x: auto; // Автоматическая прокрутка по горизонтали
}

.tabs__header {
	// Стили для заголовка вкладок (пока пусто)
}

.tabs__btn {
	display: block; // Кнопка отображается как блок
	font-size: 24px; // Размер шрифта кнопки
	color: #333; // Цвет текста кнопки
	text-decoration: none; // Убираем подчеркивание текста
	cursor: pointer; // Указатель при наведении
	transition: transform 0.3s ease; // Плавный переход для трансформации

	&.non_auth {
		color: rgba(0, 0, 0, 0.15); // Полупрозрачный черный цвет для неавторизованных кнопок
	}

	&.active {
		font-weight: 600; // Полужирный шрифт для активных кнопок
		color: #dc3d3d; // Красный цвет текста для активных кнопок
	}
	&:hover {
		transform: translateX(5px); // Сдвиг кнопки вправо при наведении
	}
}

// Медиазапрос для экранов с высотой до 1000px
@media (max-height: 1000px) {
	.tabs__content {
		height: 580px; // Уменьшаем высоту содержимого вкладки
	}
}

// Медиазапрос для экранов с шириной до 1200px
@media (max-width: 1200px) {
	.tabs {
		flex-direction: column-reverse; // Вкладки располагаются колонкой в обратном порядке

		&__header {
			display: flex; // Flexbox для заголовка вкладок
		}

		&__content {
			width: 100%; // Ширина содержимого вкладки 100%
			margin-right: 0; // Убираем правый отступ
			margin-bottom: 0; // Убираем нижний отступ
		}

		&__btn {
			margin-right: 35px; // Правый отступ кнопки

			&:hover {
				transform: translateY(-2px); // Сдвиг кнопки вверх при наведении
			}
		}
	}
}

// Медиазапрос для экранов с шириной до 768px
@media (max-width: 768px) {
	.tabs__btn {
		font-size: 18px; // Уменьшаем размер шрифта кнопки
	}
}

// Медиазапрос для экранов с шириной до 576px
@media (max-width: 576px) {
	.tabs {
		&__header {
			justify-content: space-between; // Распределение кнопок по пространству
		}

		&__btn {
			font-size: 16px; // Уменьшаем размер шрифта кнопки
			margin-right: 0; // Убираем правый отступ
		}

		&__content {
			padding: 10px; // Уменьшаем внутренние отступы содержимого вкладки
		}
	}
}
