.search {
	width: 100%; // Ширина контейнера поиска 100%
	position: relative; // Относительное позиционирование для контейнера поиска
}

.input {
	width: 100%; // Ширина поля ввода 100%
	font-size: 18px; // Размер шрифта текста внутри поля ввода
	font-weight: 600; // Толщина шрифта текста внутри поля ввода
	padding: 10px 20px; // Внутренние отступы поля ввода
	outline: none; // Убираем обводку при фокусе
	border: 2px solid #606060; // Граница поля ввода
	border-radius: 15px; // Закругленные углы поля ввода
	padding-right: 40px; // Дополнительный отступ справа для кнопки очистки
	margin-bottom: 30px; // Нижний внешний отступ

	&:focus {
		border: 2px solid #dc3d3d; // Цвет границы при фокусе
	}
	&::placeholder {
		font-weight: 300; // Толщина шрифта для плейсхолдера
	}
}

.btn_clear {
	position: absolute; // Абсолютное позиционирование для кнопки очистки
	right: 5px; // Позиционирование справа
	top: 10px; // Позиционирование сверху
	font-size: 30px; // Размер шрифта кнопки очистки
	z-index: 2; // Z-индекс для кнопки очистки
	color: #000; // Цвет кнопки очистки
	cursor: pointer; // Курсор в виде указателя при наведении
	transition: all 0.3s ease; // Плавный переход для всех свойств

	&:hover {
		color: #dc3d3d; // Цвет кнопки при наведении
	}
}

// Медиазапрос для экранов с максимальной шириной 992px
@media (max-width: 992px) {
	.input {
		font-size: 12px; // Уменьшаем размер шрифта текста внутри поля ввода
		height: 40px; // Устанавливаем высоту поля ввода
	}

	.btn_clear {
		top: 10px; // Позиционирование сверху
		right: 10px; // Позиционирование справа
		font-size: 20px; // Уменьшаем размер шрифта кнопки очистки
	}
}

// Медиазапрос для экранов с максимальной шириной 768px
@media (max-width: 768px) {
	.input {
		margin-bottom: 20px; // Уменьшаем нижний внешний отступ
	}
}
